.terminal {
  padding: 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  line-height: 1.2rem;
  font-family: "Roboto Mono", monospace;

  .output {
    color: $terminal-output;
  }

  .help-output {
    margin-bottom: 0.5rem;
  }

  .command-line {
    letter-spacing: 0.01ch;
    display: flex;
    align-items: center;
    justify-content: center;
    .prompt {
      color: $terminal-prompt;
    }
    .text {
      font-family: "Roboto Mono", monospace;
      // color: #ccd6f6;
      color: $terminal-text;
      background-color: transparent;
      flex-grow: 1;
      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .terminal {
    .command-line {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
