.application {
  width: 40vw;
  height: 40vh;
  z-index: 15;

  position: absolute;
  background: #fff;
  inset: 50%;
  transform: translateX(-50%) translateY(-50%);

  border: 1px solid black;
}

.titlebar {
  cursor: move;
  background-color: $titlebar-background;

  display: flex;
  justify-content: space-between;

  padding: 1rem;
  height: 20%;
  max-height: 20%;
  color: white;

  .titlebar-buttons {
    display: flex;
    gap: 0.25rem;
    * {
      cursor: pointer;
      padding: 0.25rem;
      width: 1rem;
      height: 1rem;
      aspect-ratio: 1;
      border-radius: 100%;
      &:hover {
        background-color: red;
      }
    }
  }
}

.application_main_section {
  width: 100%;
  cursor: auto;
  padding: 2rem;
  max-height: 80%;
  overflow: scroll;
}
