.desktop {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;

  min-height: calc(var(--vh, 1vh) * 100);
  min-width: 100vw;

  background-image: url("../public/assets/wallpaper.png");
  background-size: cover;
  background-position: center;
}

.taskbar {
  background: $accent-color;
  position: absolute;
  inset: auto 0 0;
  height: $taskbar-height;

  .taskbar-icons {
    display: flex;
    color: white;
    height: 100%;
    // gap: 0.6rem;
    align-items: center;

    .app-launcher {
      min-height: 100%;
      max-height: 100%;
      max-width: 2.7rem;
      padding: 0 0.3rem;
    }

    *:hover {
      background-color: rgba($color: #000000, $alpha: 0.5);
      cursor: pointer;
    }

    .active {
      background-color: black;
    }

    svg {
      height: 100%;
      min-width: 2.7rem;
      padding: 0.4rem 0.4rem;
    }
  }
  .home-button {
    display: none;
  }
}

.icons {
  position: absolute;
  z-index: 3;
  top: 0;
  color: white;

  .icon {
    cursor: pointer;
    margin: 2.25rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem 0;

    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $focus-color;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .icons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    width: 100%;

    top: auto;
    bottom: 0;

    margin: 0;
    margin-bottom: calc($taskbar-height + 0.25rem);
    .icon {
      margin: 0;
    }
  }
  .taskbar {
    .taskbar-icons {
      display: none;
    }

    .home-button {
      display: flex;
      width: 100%;
      height: 100%;

      align-items: center;
      justify-content: center;

      color: white;
      font-size: 2rem;

      cursor: pointer;
    }
  }
}

@import "./applications.scss";
