.desktop {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;
}

.taskbar {
  background: $accent-color;
  position: absolute;
  inset: auto 0 0;
  height: $taskbar-height;
}

.icons {
  position: absolute;
  z-index: 3;
  top: 0;
  color: white;

  .icon {
    cursor: pointer;
    margin: 2.25rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem 0;

    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $focus-color;
    }
  }
}

@import "./applications.scss";
