.desktop {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;

  min-height: 100vh;
  min-width: 100vw;

  background-image: url("../public/assets/wallpaper.png");
  background-size: cover;
  background-position: center;
}

.taskbar {
  background: $accent-color;
  position: absolute;
  inset: auto 0 0;
  height: $taskbar-height;
}

.icons {
  position: absolute;
  z-index: 3;
  top: 0;
  color: white;

  .icon {
    cursor: pointer;
    margin: 2.25rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem 0;

    svg {
      height: 2rem;
      width: 2rem;
    }

    &:hover {
      color: $hover-color;
    }

    &:active {
      color: $focus-color;
    }
  }
}
@media (max-width: $breakpoint-tablet) {
  .icons {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    width: 100%;

    top: auto;
    bottom: 0;

    margin: 0;
    margin-bottom: calc($taskbar-height + 0.25rem);
    .icon {
      margin: 0;
    }
  }
}

@import "./applications.scss";
